body {
    background-color: rgb(239, 229, 227);
    color: rgb(57, 60, 66);
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
}


.temp {
    display: none;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;

}

h2 {
    font-size: 2em;
    display: flex;
    margin: 0;
}

h1 {
    font-size: 6em;
    letter-spacing: 0.1em;
    font-weight: 100;
    margin: 0;
    display: flex;

}

.local-zip {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.input-box {
    text-align: center;
    width: 20vw;
    min-width: 250px;
    height: 2.1em;
    font-size: 1.7em;
    border: 1px solid rgb(57, 60, 66);
    padding: 0;
}

input {
    cursor: text;
    margin-top: 3vh;
    margin-bottom: 2vh;
    background-color: rgb(245, 238, 237);
    color: rgb(57, 60, 66);

}

button {
    cursor: pointer;
    background-color: rgb(80, 100, 141);
    color: rgb(239, 229, 227);
}

.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }

 @-webkit-keyframes fadeInUp {
    0% {
       opacity: 0;
       -webkit-transform: translateY(20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
 }

 @keyframes fadeInUp {
    0% {
       opacity: 0;
       transform: translateY(20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }

 .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
 }